<mat-progress-bar *ngIf="loading" mode="indeterminate" style="position: absolute"></mat-progress-bar>
<mat-toolbar color='accent'>
    <h1 color='primary'>Users</h1>
    <span style="flex: 1 1 auto"></span>
    <a href="/users/new"><button mat-icon-button matTooltip="Create User" (click)="$event.preventDefault()"
            [routerLink]="['/users/new']">
            <mat-icon>add</mat-icon>
        </button></a>
</mat-toolbar>
<div *ngIf="!loading" class="container-fluid">
    <mat-card>
        <mat-card-content>
            <div class="row side-padding">
                <mat-form-field>
                    <input matInput placeholder="Filter" [(ngModel)]="filter">
                    <mat-icon matPrefix>filter_list</mat-icon>
                </mat-form-field>
            </div>
            <grid *ngIf="!loading" [data]="users" [filter]="filter" [(columns)]="columns" (selection)="selection($event)"></grid>
        </mat-card-content>
    </mat-card>
</div>