<div class="container padded">
    <div class="row">
        <div class="col-sm-6">
            <div class="container-fluid">
                <h1 style="margin-bottom: 0px; font-size: 52px;">Manage Easy.</h1>
                <h1 style="margin-bottom: 15px; margin-top: -21px; font-size: 52px;">Think Less.</h1>
                <p style="margin-top: 0px;">It is like Tickets, but Lite. Enjoy a simple, yet powerful, user interface to better manage your facility.</p>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="container-fluid">
                <sign-in></sign-in>
            </div>
        </div>
    </div>
</div>
