<mat-progress-bar *ngIf="loading" mode="indeterminate" style="position: absolute"></mat-progress-bar>
<mat-toolbar color='accent'>
    <h1 color='primary'>Inventory</h1>
    <span style="flex: 1 1 auto"></span>
    <a href="/inventory/new"><button mat-icon-button matTooltip="Create Asset" (click)="$event.preventDefault()"
            [routerLink]="['/inventory/new']">
            <mat-icon>add</mat-icon>
        </button></a>
    <button *ngIf="isEdit" mat-icon-button matTooltip="Delete Asset" (click)="delete()" color="warn">
        <mat-icon>delete</mat-icon>
    </button>
</mat-toolbar>
<div class="container-page">
    <mat-card>
        <mat-card-content>
            <div class="row side-padding">
                <div class="col-sm-6">
                    <div class="row form-group side-padding">
                        <mat-form-field>
                            <input matInput placeholder="Number" [(ngModel)]="asset.number">
                        </mat-form-field>
                    </div>
                    <div class="row form-group side-padding">
                        <mat-form-field>
                            <textarea matInput placeholder="Description" [(ngModel)]="asset.description"></textarea>
                        </mat-form-field>
                    </div>
                    <div class="row form-group side-padding">
                        <datetime-input [label]="'Install Date'" [(value)]="asset.installDate"></datetime-input>
                    </div>
                    <div class="row form-group side-padding">
                        <mat-form-field>
                            <mat-label>Condition Assessment</mat-label>
                            <mat-select [(ngModel)]="asset.condition">
                                <mat-option *ngFor="let condition of inventoryService.conditions"
                                    [value]="condition.id">
                                    {{condition.label}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row form-group side-padding">
                        <mat-form-field>
                            <mat-label>Status</mat-label>
                            <mat-select [(ngModel)]="asset.status">
                                <mat-option *ngFor="let status of inventoryService.statuses" [value]="status.id">
                                    {{status.label}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="row form-group side-padding">
                        <mat-form-field>
                            <mat-label>Category</mat-label>
                            <mat-select [(ngModel)]="asset.category">
                                <mat-option *ngFor="let category of inventoryService.categories" [value]="category.id">
                                    {{category.label}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="row form-group side-padding">
                        <div class="col-8">
                            <mat-form-field>
                                <input matInput placeholder="Life Expectancy" type="number" [(ngModel)]="asset.lifeExpectancy">
                            </mat-form-field>
                        </div>
                        <div class="col-4">
                            <mat-form-field>
                                <mat-label>Unit</mat-label>
                                <mat-select [(ngModel)]="asset.lifeExpectancyScale">
                                    <mat-option
                                        *ngFor="let lifeExpectancyScale of inventoryService.lifeExpectancyScales"
                                        [value]="lifeExpectancyScale.id">
                                        {{lifeExpectancyScale.label}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row form-group side-padding">
                        <datetime-input [label]="'Retired Date'" [(value)]="asset.retiredDate"></datetime-input>
                    </div>
                </div>
            </div>
            <div class="row side-padding">
                <div class="col-sm-12">
                    <div class="row form-group side-padding">
                        <button mat-flat-button color='primary' style="margin-right: 15px"
                            (click)="save()">Save</button>
                        <button mat-flat-button color='accent' [routerLink]="['/inventory']">Close</button>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>