<div class="container padded">
    <mat-card *ngIf="!findWorkplace">
        <mat-card-header>
            <h1 mat-card-title>Sign in</h1>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
            <div class="container padded">
                    <form [formGroup]="form" (ngSubmit)="signIn()">
                <div class="row form-group">
                    <div class="col-12">
                        <mat-form-field>
                            <mat-label>Username</mat-label>
                            <input matInput placeholder="Username" formControlName="username" required>
                            <mat-icon matPrefix>person</mat-icon>
                            <mat-error *ngIf="form.controls.username.invalid">Enter Username</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-12">
                        <mat-form-field>
                            <mat-label>Password</mat-label>
                            <input matInput type="password" formControlName="password" required>
                            <mat-icon matPrefix>lock</mat-icon>
                            <mat-error *ngIf="form.controls.password.invalid">Enter Password</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-12">
                        <mat-checkbox color="primary" formControlName="rememberMe">Remember Me</mat-checkbox>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-12">
                        <button mat-raised-button color="primary" style="width: 100%" type="submit"
                        [disabled]="!form.valid">{{signInText}}</button>
                    </div>
                </div>
            </form>
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card *ngIf="findWorkplace" style="text-align: center">
        <mat-card-content>
            <div class="container padded">
                    <div class="row form-group">
                        <div class="col-12">
                            <h1>Sign into your Workplace</h1>
                        </div>
                    </div>
                <div class="row form-group">
                    <div class="col-12">
                        Enter your workplace's <b>Cms Lite URL.</b>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-9">
                        <mat-form-field>
                            <input matInput [(ngModel)]="workplace" style="text-align: right; font-weight: bold">
                        </mat-form-field>
                    </div>
                    <div class="col-3" style="text-align: left">
                        <h3><b>.{{url}}</b></h3>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-12">
                        <button type="submit" mat-raised-button color="primary" style="width: 100%"
                            (click)="goToWorkplace()">Continue</button>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
    <div *ngIf="findWorkplace" class="row form-group" style="text-align: center; margin-top: 10px">
        <div class="col-12">
            Do not have a workplace? <a href="/create-workplace" style="text-decoration: underline;">Create one here.</a>
        </div>
    </div>
</div>