<ng-container *ngIf="!auth.loading">
    <mat-toolbar *ngIf="!auth.isAuthenticated" color='primary'>
      <a href="/"><button  mat-flat-button color='primary' style="margin-right: 10px;"><h1 style="font-family: 'Monoton', cursive; font-size: 16px;">Cms Lite</h1></button></a>
      <span style="flex: 1 1 auto"></span>
      <button mat-flat-button color='primary' style="margin-right: 10px;" [routerLink]="['/sign-in']">Sign in</button>
      <a href="/"><button mat-raised-button color='accent'>Create Account</button></a>
    </mat-toolbar>
    <mat-toolbar *ngIf="auth.isAuthenticated" color='primary'>
      <button *ngIf="isSmallScreen" mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>menu</mat-icon></button>
      <mat-menu #menu="matMenu">
          <button mat-menu-item><a href="/tickets"><mat-icon>work</mat-icon>Tickets</a></button>
          <button mat-menu-item><a href="/tickets"><mat-icon>build</mat-icon>Inventory</a></button>
          <button mat-menu-item><a href="/tickets"><mat-icon>supervisor_account</mat-icon>Users</a></button>
      </mat-menu>
      <a href="/"><button  mat-flat-button color='primary' style="margin-right: 10px;"><h1 style="font-family: 'Monoton', cursive; font-size: 16px;">Cms Lite</h1></button></a>
      <a href="/tickets" *ngIf="!isSmallScreen"><button  mat-button color='accent' style="margin-right: 5px;">Tickets</button></a>
      <a href="/" *ngIf="!isSmallScreen"><button  mat-button color='accent' style="margin-right: 5px;">Inventory</button></a>
      <a href="/" *ngIf="!isSmallScreen"><button  mat-button color='accent' style="margin-right: 5px;">Users</button></a>
      <span style="flex: 1 1 auto"></span>
      <button mat-flat-button color='primary' (click)="signOut()">Sign Out</button>
    </mat-toolbar>
    <div>
      <router-outlet></router-outlet>
    </div>
</ng-container>