<modal>
    <ng-container modal-title>
        <h1 mat-dialog-title>Send Notification</h1>
    </ng-container>
    <ng-container modal-content>
            <div class="row form-group side-padding">
                <mat-form-field>
                    <textarea matInput placeholder="Message"
                        [(ngModel)]="message"></textarea>
                </mat-form-field>
            </div>
        <br>
    </ng-container>
    <ng-container modal-footer>
        <div class="row">
            <div class="col-sm-12">
                <div class="row form-group">
                    <button mat-flat-button color='primary' style="margin-right: 10px" (click)="confirm()">Send</button>
                    <button mat-flat-button color='accent' (click)="close()">Close</button>
                </div>
            </div>
        </div>
    </ng-container>
</modal>