<div class="box-container">
    <div class="header">
        <mat-progress-bar *ngIf="loading" mode="indeterminate" style="position: absolute"></mat-progress-bar>
        <mat-toolbar color='accent'>
            <h1 color='primary'>Tickets</h1>
            <span style="flex: 1 1 auto"></span>
            <button mat-button [matMenuTriggerFor]="menu" style="padding-left: 8px; padding-right: 8px;">
                <mat-icon color="primary" style="font-size: 20px">visibility</mat-icon>
                {{watchText()}}
                <mat-icon color="primary" style="font-size: 20px">arrow_drop_down</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="setWatch()">None</button>
                <button mat-menu-item (click)="setWatch(WatchType.statusOnly)">Status Only</button>
                <button mat-menu-item (click)="setWatch(WatchType.all)">All</button>
                <button mat-menu-item (click)="setWatch(WatchType.ignore)">Ignore</button>
            </mat-menu>
            <a href="/tickets/new"><button mat-icon-button matTooltip="Create Ticket"
                    (click)="$event.preventDefault(); openNew();">
                    <mat-icon>add</mat-icon>
                </button></a>
            <button *ngIf="isEdit" mat-icon-button matTooltip="Delete Ticket" (click)="delete()" color="warn">
                <mat-icon>delete</mat-icon>
            </button>
        </mat-toolbar>
    </div>
    <div class="content">
        <div class="container-fluid">
            <mat-card>
                <mat-card-content>
                    <div class="row side-padding">
                        <div class="col-sm-6">
                            <div class="row form-group side-padding">
                                <mat-form-field>
                                    <input matInput placeholder="Number" disabled [(ngModel)]="ticket.number">
                                </mat-form-field>
                            </div>
                            <div class="row form-group side-padding">
                                <mat-form-field>
                                    <textarea matInput placeholder="Description"
                                        [(ngModel)]="ticket.description"></textarea>
                                </mat-form-field>
                            </div>
                            <div class="row form-group side-padding">
                                <mat-form-field>
                                    <mat-label>Status</mat-label>
                                    <mat-select [(ngModel)]="ticket.status">
                                        <mat-option *ngFor="let status of ticketService.statuses" [value]="status.id">
                                            {{status.label}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="row form-group side-padding">
                                <mat-form-field>
                                    <mat-label>Category</mat-label>
                                    <mat-select [(ngModel)]="ticket.category">
                                        <mat-option *ngFor="let category of ticketService.categories"
                                            [value]="category.id">
                                            {{category.label}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="row form-group side-padding">
                                <datetime-input [label]="'Date Completed'" [(value)]="ticket.dateCompleted">
                                </datetime-input>
                            </div>
                            <div class="row form-group side-padding">
                                <mat-accordion>
                                    <notes-portal [(notes)]="ticket.notes"></notes-portal>
                                    <assets-portal [(assets)]="ticket.assets" (open)="openAsset($event)">
                                    </assets-portal>
                                    <assignments-portal [(assignments)]="ticket.assignments" (open)="openUser($event)">
                                    </assignments-portal>
                                    <labor-charge-portal [(laborCharges)]="ticket.laborCharges"></labor-charge-portal>
                                </mat-accordion>
                            </div>
                        </div>
                    </div>
                    <div class="row side-padding">
                        <div class="col-sm-12">
                            <div class="row form-group side-padding">
                                <button mat-flat-button color='primary' style="margin-right: 15px"
                                    (click)="save()">Save</button>
                                <button mat-flat-button color='accent' (click)="close()">Close</button>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>